github "https://github.com/BootcampCS-Set2019/bootcamp-recommended-cards-module.git" "master"
github "https://github.com/BootcampCS-Set2019/bootcamp-card-detail-module.git" "master"
github "https://github.com/BootcampCS-Set2019/bootcamp-favored-cards-module.git" "master"